@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color: #acbfa4;
	font-size: 87.5;
	color: #3a3a3a;
	line-height: 1.5;
	text-align: left;
	width: 70%;
	margin: 0 auto;
	clear: both;
}

/* Style banner image */

#img-banner {
	height: 150px;
	width:  100%;
	margin-top: 2%;
	background-color: grey;
	background: url('../images/sittinginbedworrying.jpeg') no-repeat center center;
    background-size: 100%;
    margin-bottom: 20px;
}

/* headings and logo */

h2, h3 {
    font-family: 'Playfair Display', sans-serif;
	color: #fff;
}

#logo {
	float: left;
	clear: both;
}

/* navigation bar position and styling */

.nav-bar {
	height: auto;
	width: 100%;
	margin-top: 20px;
}

.nav-bar a h2 {
	height: auto;
	width: 100%;
	margin: auto; 
    margin-left: 10px;
}

/* navigation links */

nav {
	background-color: #262626;
	height: 40px;
}

nav ul {
	list-style-type: none;
	margin: 0 auto;
}

nav ul li {
	float: right;
	display: inline;
	margin-right: 30px;
} 

nav a {
	color: #fff;
	display: inline-block;
	padding: 10px 10px 0;
	text-decoration: none;
}

nav a:hover {
	border-bottom: 1px solid #ff1b1c;
}

.active {
	border-bottom: 1px solid #fff;
}

/* style index page - left columns */

.main-content {   
    float: left;
    width: 75%;
  }
  
/* style index page - Right columns and images */
  
  

