@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #acbfa4;
    font-size: 87.5;
    color: #3a3a3a;
    line-height: 1.5;
    text-align: left;
    width: 70%;
    margin: 0 auto;
    clear: both;
}

h2,
h3 {
    color: #fff;
}

h5 {
    color: #fff;
    font-style: bold;
}

p {
    text-align: justify;
}

#logo {
    float: left;
    margin-left: 20px;
    clear: both;
}

/* raisingparentsbanner image */

#banner {
    height: 150px;
    width: 100%;
    margin-top: 2%;
    background-color: grey;
    background: url('../images/toddlerblueeyes.jpeg') no-repeat center center;
}

/* navigation bar position and styling */

.nav-bar {
    height: auto;
    width: 100%;
    margin-top: 20px;
}

/* navigation links */

nav {
    background-color: rgba(0, 0, 0, 0.5);
    height: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
}

nav ul li {
    float: right;
    display: inline;
    margin-right: 30px;
}

nav a {
    color: #fff;
    display: inline-block;
    padding: 10px 10px 0;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

/* style index page - left columns */

.leftcolumn {
    float: left;
    width: 75%;
}

summary {
    text-align: right;
    color: #ff1b1c;
    font-weight: 800;
}

/* style index page - Right columns and images */

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

#rightcol-img1 {
    background-color: #aaa;
    width: 100%;
    padding: 15px;
    background: url('../images/teencrying.jpg') no-repeat center center;
}

#rightcol-img1 h5 {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 800;
    text-align: center;
}

#rightcol-img2 {
    background-color: #aaa;
    width: 100%;
    padding: 26px;
    background: url('../images/twolittlegirls.jpg') no-repeat center center;
}

#rightcol-img3 {
    background-color: #aaa;
    width: 100%;
    padding: 26px;
    background: url('../images/girlcleaning.jpg') no-repeat center center;
}

#rightcol-img4 {
    background-color: #aaa;
    width: 100%;
    padding: 26px;
    background: url('../images/girlscreaming.jpg') no-repeat center center;
}

/* Add cards */
.card {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.card h2,
h3 {
    color: #3a3a3a;
}

.card a,
h5 {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    text-align: center;
    font-size: 14px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* aboutus page */

.outerwrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 0 0;
}

.about-section {
    margin-top: 2%;
    background: url('../images/blackwomanandchild2.png') no-repeat left;
    background-size: 65%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 100px 0;
}

.inner-wrapper {
    width: 55%;
    float: right;
    background-color: #fff;
    padding: 35px;
}

.inner-wrapper h3 {
    color: #545454;
    margin-bottom: 10px;
    font-weight: 600;
}

.underline-whoweare {
    height: 4px;
    width: 100%;
    background-color: #ff1b1c;
}

.aboutus-text {
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 10px;
}

button:hover {
    text-decoration: underline;
}

/* scenarios page */

 #scenario-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
	margin-top: 20px;

} 

#scenario-wrapper h2 {
    text-align: center;
}

.scenarios {
    margin: 10px 0;
}

.other-wrapper {
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}

/* .top-wrapper h3{
	font-size: 18px;
	margin-bottom: 35px;
	color: blue;
	font-weight: 400;
} */

.top-wrapper p {
    font-size: 18px;
    margin-bottom: 10px;
    color: blue;
    font-weight: 300;
}

#btn-quiz {
    border-radius: 5px;
    font-size: 16px;
    margin: 15px;
    padding: 10px 25px;
    background-color: #ff1b1c;
    color: #fff;
}

.quiz-wrapper .question-number {
    font-size: 18px;
    color: #acbfa4;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.quiz-wrapper .scenarios {
    color: #fff;
    font-weight: 400;
    font-style: italic;
    padding-top: 5px;
}

.quiz-wrapper .option-box .option {
    background-color: #fff;
    padding: 10px;
    line-height: 22px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: #3a3a3a;
}

span {
    color: #ff1b1c;
    font-weight: 800;
}

#scenario-wrapper p {
    color: white;
}

/* Footer */

.footer {
    clear: both;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 75px;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
}

.footer p {
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

/* style footer - social media links */

.socialmedia {
    text-align: center;
}

.socialmedia>li {
    display: inline;
}

.socialmedia i {
    font-size: 160%;
    margin: 0px;
    padding: 1%;
    color: #fff;
}

/* style contactus form  */
.heading {
	text-align: center;
	width: 100%;
	margin: auto;
	margin-top: 2%;
}

#subject-header {
	font-size: 1.8em;
	padding-top: 10px;
}

#subheading {
	font-size: 18px;
}

#wrapper {
	width: 90%;
	margin: auto;
}

.img-girlsittinginbed {
	width: 100%;
	height: 100%;
	background-image: url("../images/sittinginbedworrying.jpeg");
}

form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 20px;
    color: #fff;
}

form .input-field {
    width: 98.5%;
    height: 2.8em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}

#option-1 select {
    width: 98.5%;
    height: 2.7em;
    position: relative;
    bottom: 10px;
    border-radius: 5px;
    border: 0;
}

::placeholder {
    color: darkred;
    padding: 5px;
}

textarea {
    width: 98%;
    height: 125px;
    position: relative;
    bottom: 17px;
    border-radius: 5px;
}

#btn-contactus {
    width: 98.5%;
    padding: 10px;
    background-color: #ff1b1c;
    border-radius: 5px;
}

/* @media queries */

/* screen sizes 950px and less (smart phones) */
@media screen and (max-width: 720px) {

    body {
        width: 90%;
        margin: 0 auto;
    }

    .nav-bar nav {
        background-color: #acbfa4;
        height: 40px;
    }

    #logo {
        padding: 0 0 10px 10px;
    }

    .nav-bar nav ul li {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 5px;
        text-align: center;
    }

    nav a:link {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        margin-top: 0;
        border-radius: 5px;
    }

    .footer {
        height: 90px;
        margin-bottom: 20px;
    }

    .about-section {
        padding: 0;
    }

    .inner-wrapper {
        padding: 10%;
        width: 100%;
    }

    .outer-wrapper {
        width: 100%;
        margin: auto;
    }

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
        /*align-items: center;*/
        text-align: center;
    }

    #scenario-wrapper {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin-top: 20px;
        color: #fff;
    }

    form {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        border-radius: 5px;
        margin: auto;
        margin-top: 10px;
        padding-bottom: 20px;
        color: #fff;
    }

      
}

/* @media queries */

/* screen sizes 1200px and less (ipads) */
@media screen and (max-width: 960px) {

    body {
        width: 90%;
        margin: 0 auto;
    }

    #logo {
        padding: 0 0 10px 10px;
    }

    nav a:link {
        width: 100%;
        margin-top: 0;
        border-radius: 5px;
    }

    .footer {
        height: 90px;
        margin-bottom: 20px;
    }

    .about-section {
        background-size: 100%;
        padding: 100px 20px;
    }

    .inner-wrapper {
        padding: 10%;
        width: 100%;
    }

    .outer-wrapper {
        width: 100%;
        margin: auto;
    }

}

    /* @media queries */

/* screen sizes 950px and less (ipads) */
@media screen and (max-width: 960px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
        /*align-items: center;*/
        text-align: center;
    } 

}

 /* @media queries */

/* screen sizes 950px and less (ipads) */
@media screen and (max-width: 760px) {
    #scenario-wrapper {
        margin-top: 160px;
    }

    .img-girlsittinginbed {
        margin-top: 160px;
    }
    
}

